body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #8EC5FC, #E0C3FC);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.left {
    flex: 1;
}

.right {
    flex: 2;
    padding-left: 50px;
}

.lina-image {
    max-width: 100%;
    height: auto;
}

h1 {
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 20px;
}

p {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.chat-icon {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chat-icon img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.chat-button {
    background-color: #337AB7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.chat-button:hover {
    background-color: #285E8E;
}

.chat-window {
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    overflow: hidden;
}

.chat-header {
    background-color: #337AB7;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chat-title {
    font-weight: bold;
}

.chat-subtitle {
    font-size: 12px;
}

.chat-close {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.chat-body {
    padding: 15px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre as mensagens */
    height: 200px;
    overflow-y: auto;
}

.chat-message {
    background-color: #337AB7;
    color: white;
    padding: 10px;
    border-radius: 10px;
    align-self: flex-start;
    max-width: 100%;
}

.chat-message.user {
    background-color: #f1f1f1;
    color: #000;
    align-self: flex-end;
}

.chat-input {
    width: calc(100% - 30px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    color: #000000;
    background-color: #f9f9f9;
}
