body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-x: auto;
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative; /* Permite o posicionamento absoluto de elementos */
    margin: auto; /* Centraliza horizontalmente e verticalmente */
}

.header {
    position: absolute; /* Faz o botão flutuar em relação ao container */
    top: 10px; /* Posiciona o botão 10px a partir do topo */
    right: 10px; /* Posiciona o botão 10px a partir da direita */
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 0.5rem;
    text-align: left;
    vertical-align: top;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    min-height: 50px;
    max-height: 200px;
    overflow-y: auto;
}

input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}

select.num-questions {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.questions-container {
    max-height: 200px;
    overflow-y: auto;
}

button {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #0056b3;
}

#logout-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#logout-button:hover {
    background-color: #0056b3;
}
